body{

    color-scheme: dark;
    /*background: radial-gradient(circle at top center, rgb(6, 208, 1), transparent 50%, transparent 100%);*/
    background-color: var(--bg-color);



}


:root{
    --bg-color: #b5aeae;
    --theme-color: #a3e635 ;
    --theme-color1: #84cc16 ;
    --theme-color2: #65a30d ;
    --white-color: #ffff;
    --black-color: #000000FF;
}

.section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; /* Center vertically */
    background: #1c7430;
}



#red{
    width: 35vw;
    height: 70vh;
    background: var(--white-color);
    opacity: 0.9;
}

#green{
    width: 30vw;
    height: 39vh;
    background: var(--white-color);
    opacity: 0.9;
}
#gray{
    width: 30vw;
    height: 30vh;
    background: var(--white-color);
    opacity: 0.9;
}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0.7;
}

#myBtn{
    background: transparent;

    color: black;
    border: 2px solid #04AA6D; /* Green */
}

/*---------------crop section style-------------------------*/

#kt_modal_2 .modal-content {
    background: linear-gradient(to bottom, #e0ffe0, #ffffff);
}


#kt_modal_2 .modal-header,
#kt_modal_2 .modal-footer {
    background-color: #e0ffe0;
}